/********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/********************************************/

body {
    background-color: black;
    color: white;
}

/********************************************/

.title {
    width: 300px;
    margin: 0 auto;
}

.container {
    max-width: 1080px;
    margin: 30px auto;
}

#team-container  {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#team-container div {
    width: calc((100% / 3) - 30px);
    margin: 0 15px 1rem;
    border-radius: 25px;

    border: solid 0.5px rgb(30, 66, 116);
    background-color: rgba(19, 35, 58, 0.598);

    /*border: solid 0.5px gray;
    background-color: linear-gradient(rgb(119, 2, 154), rgb(52, 0, 148));*/
}

#team-container img {
    width: 80%;
    border-radius: 50%;
    margin: 1rem 0;
    border: solid 10px white;
}

img:hover {
    scale: 1.1;
}

h5 {
    padding-bottom: 10px;
}

/********************************************/



/********************************************/



/********************************************/